---
import Icon from "./Icon.astro";

export interface Props {
  socials: any;
}

const { socials } = Astro.props;
---

<div class="flex flex-wrap justify-center gap-4">
  {
    socials.map((social: any) => (
      <div class="transition-transform hover:scale-110">
        <Icon icon={social.frontmatter.icon} url={social.frontmatter.url} />
      </div>
    ))
  }
</div>
